@model User

@{
    ViewData["Title"] = "Brukerinnlogging";
    Layout = null;
}

<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OXX Test - @ViewData["Title"]</title>

    <!-- Linked Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/brand/favicon.png">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/cb7428d12a.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Linked CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mobile.css" />
</head>
<body>
    <!-- LOGIN -->
    <div class="page-background page-background-login">
        <div class="wrapper form-wrapper">
            <div class="form-box-login">
                <img src="../images/brand/logo_hvit.png" alt="logo" />

                <!-- Login Form -->
                @using (Html.BeginForm("Login", "Login", FormMethod.Post,
                  new { name = "formLogin", id = "form-login", onsubmit = "return loginAll()", novalidate = "true" }))
                {
                    <div class="form-group">
                        <input asp-for="email" type="text" name="email" class="form-control"
                               id="form-login-email" onchange="loginEmail()" required />
                        <label class="float-label" for="form-login-email">E-post</label>
                        <div class="form-error form-error-login" id="form-error-login-email"></div>
                    </div>

                    <div class="form-group">
                        <input asp-for="password" type="password" name="password" class="form-control"
                               id="form-login-password" onchange="loginPasswd()" required />
                        <label class="float-label" for="form-login-email">Passord</label>
                        <span class="fas fa-eye passwd-toggle" toggle="#form-login-password"></span>
                        <div class="form-error form-error-login" id="form-error-login-password"></div>
                    </div>

                    <div class="form-group">
                        <input type="submit" name="login" value="Logg inn" class="btn btn-success btn-form-login" />
                    </div>

                    <!-- Login Form External Links -->
                    <div class="form-content-login">
                        <div class="login-links p-small" id="login-links-forgot">
                            <a href="#">Glemt brukernavn eller passord?</a>
                        </div>
                        <div class="login-links-content p-small" id="login-links-reg">
                            Har du ikke en konto?
                            <a asp-controller="Login" asp-action="UserRegistration">Registrer deg</a>
                        </div>
                    </div>
                }
                <!-- End Login Form -->
            </div>
        </div>
    </div>
    <!-- END LOGIN -->

    <!-- Bootstrap Script Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Linked Script Files -->
    <script src="~/js/toggle_passwd.js"></script>
    <script src="~/js/client_validation.js"></script>
</body>
</html>