@model User

@{
    ViewData["Title"] = "Brukerregistrering";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OXXGame - @ViewData["Title"]</title>

    <!-- Linked Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/brand/favicon.png">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/cb7428d12a.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Linked CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mobile.css" />
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="#"><img src="~/images/brand/logo_hvit.png" alt="Logo" /></a>
                </div>

                <!-- Navbar Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">
                            <i class="fas fa-sign-in-alt"></i>
                            Logg inn
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER -->


    <!-- USER REGISTRATION -->
    <div class="section section-user-reg">
        <div class="container container-user-reg">
            <h2>Brukerregistrering</h2>
            <span class="underline"></span>
            <h5>Vennligst fyll ut registreringsskjemaet under</h5>

            <!-- Registration Form -->
            <div class="wrapper wrapper-form" id="wrapper-form-reg">

                @using (Html.BeginForm("UserRegistration", "Login", FormMethod.Post,
                    new { name = "formReg", id = "form-reg", onsubmit = "return regAll()", novalidate = "true" }))

                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="firstname" type="text" name="firstname" class="form-control"
                                       id="form-reg-firstname" onchange="regFirstname()" required>
                                <label class="float-label" for="form-reg-firstname">Fornavn</label>
                                <div class="form-error form-error-reg" id="form-error-reg-firstname"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="lastname" type="text" name="lastname" class="form-control"
                                       id="form-reg-lastname" onchange="regLastname()" required>
                                <label class="float-label" for="form-reg-lastname">Etternavn</label>
                                <div class="form-error form-error-reg" id="form-error-reg-lastname"></div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="email" type="email" name="email" class="form-control"

                                       id="form-reg-email" onchange="regEmail()" required>
                                <label class="float-label" for="form-reg-email">E-post</label>
                                <div class="form-error form-error-reg" id="form-error-reg-email"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Husk å legge til asp-tilleg for tlf når Sivert har oppdatert databasen -->
                                <input name="tlf" class="form-control"
                                       id="form-reg-tlf" onchange="" required>
                                <label class="float-label" for="form-reg-tlf">Telefon</label>
                                <div class="form-error form-error-reg" id="form-error-reg-tlf"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="password" type="password" name="password" class="form-control"
                                       id="form-reg-password" onchange="regPasswd()" required>
                                <label class="float-label" for="form-reg-password">Passord</label>
                                <span class="fas fa-eye passwd-toggle" toggle="#form-reg-password"></span>
                                <div class="form-error form-error-reg" id="form-error-reg-password"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="passwordRepeat" type="password" name="passwordRepeat" class="form-control"
                                       id="form-reg-passwordRepeat" onchange="regPasswdRepeat()" required>
                                <label class="float-label" for="form-reg-passwordRepeat">Gjenta passord</label>
                                <span class="fas fa-eye passwd-toggle" toggle="#form-reg-passwordRepeat"></span>
                                <div class="form-error form-error-reg" id="form-error-reg-passwordRepeat"></div>
                            </div>
                        </div>
                    </div>

                    <span class="divider"></span>

                    <div class="form-reg-content">
                        <h6>Hvilke teknologier og programmeringsspråk har du kompetanse innen?</h6>

                        @{
                            int i = -1;
                        }

                        <!-- Loop that retrieves categories from the database  -->
                        @while (++i < Model.categoryLvls.Count())
                        {
                            <div class="form-group">
                                <label class="form-reg-checkbox">
                                    @Html.HiddenFor(model => model.categoryLvls[i].category)

                                    @Html.CheckBoxFor(model => model.categoryLvls[i].lvl, new { @class = "checkbox-category" })
                                    <span>@Model.categoryLvls[i].category</span>
                                </label>

                            </div>
                        }
                    </div>

                    <span class="divider"></span>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" name="register" value="Registrer" class="btn btn-success btn-form-reg">
                        </div>
                    </div>
                }
                <!-- End Registration Form -->
            </div>
        </div>
    </div>
    <!-- END USER REGISTRATION -->
    
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <p>Copyright &copy; 2020 - OXXGame - Alle rettigheter er forbeholdt</p>
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- Bootstrap Script Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Linked Script Files -->
    <script src="~/js/nav_scroll.js"></script>
    <script src="~/js/toggle_passwd.js"></script>
    <script src="~/js/client_validation.js"></script>
</body>
</html>
