@{

    ViewData["Title"] = "Testinfo";

}

<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OXXGame - @ViewData["Title"]</title>

    <!-- Linked Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/brand/favicon.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Linked CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mobile.css" />
</head>
<body>
    <!-- TESTINFO -->
    <div class="section section-user-reg">
        <div class="container container-user-reg">
            <h2>Velkommen til OXX sin evnetest</h2>
            <span class="underline"></span>



            @using (Html.BeginForm("Avbryt", "Test", FormMethod.Get))
            {
                <div class="info-avbryt">
                    <input type="submit" name="avbryt" value="Avbryt" />
                </div>
            }

            @using (Html.BeginForm("StartTest", "Test", FormMethod.Get))
            {
                <div class="info-neste">
                    <input id="btn-login" type="submit" name="neste" value="Start test!" />
                </div>
            }
        </div>
    </div>
    <!-- END TESTINFO -->

    <!-- Bootstrap Script Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Linked Script Files -->
    <script src="~/js/nav_scroll.js"></script>
</body>
</html>



