<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OXXGame - @ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Linked CSS Files -->
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Linked Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- LOGIN -->
    <div class="page-background">
        <div class="container">
            <div class="login-box">
                <img src="../images/brand/logo.png" alt="logo" />

                <!-- Login form -->
                <form action="" method="post">
                    <input type="text" name="uname" placeholder="Brukernavn" /><br />
                    <input type="password" name="passwd" placeholder="Passord" /><br />
                    <a class="login-box-content" href="#">
                        <p id="login-content-1">Glemt innloggingsdetaljer?</p>
                    </a>
                    
                    <input id="btn-login" type="submit" name="login" value="Logg inn" />
                    <a class="login-box-content" href="#">
                        <p id="login-content-2">Registrer ny bruker</pid="login-content-1">
                    </a>
                </form>
            </div>
        </div>
    </div>
    <!-- END LOGIN -->
</body>

<!-- Script Files -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
=======
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*
    Legg inn ActionLink her knyttet til f.eks. en knapp for sidebytte. Linken kaller ActionResult-metode i controller. 
    Ett av de to første parametrene gir vist navn på link, hvorav det andre sier hvilket view/hvilken ActionResult som kalles. 
    Eks:
        <@Html.ActionLink("Eksempel","Eksempel", "", new { @class = "btn btn-success" })>;
    *@
