@model User
@{
    ViewData["Title"] = "Brukerinnlogging";
    Layout = null;
}

<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OXXGame - @ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Linked CSS Files -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />

    <!-- Linked Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- LOGIN -->
    <div class="page-background">
        <div class="container">
            <div class="login-box">
                <img src="../images/brand/logo_hvit.png" alt="logo" />

                <!-- Login form -->
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="email"></label>
                        <input asp-for="email" class="form-control" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password"></label>
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <a class="login-box-content" href="#">
                        <p id="login-content-1">Glemt innloggingsdetaljer?</p>
                    </a>

                    <input id="btn-login" type="submit" name="login" value="Logg inn" />
                    <a class="login-box-content" href="#">
                        <!-- <p id="login-content-2">Registrer ny bruker</p id="login-content-1"> -->
                        @Html.ActionLink("Registrer ny bruker", "Register")
                    </a>
                }
            </div>
        </div>
    </div>
    <!-- END LOGIN -->
</body>

<!-- Script Files -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
