
@{
    ViewData["Title"] = "Evnetest";
}


    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>OXXGame - @ViewData["Title"]</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <!-- Linked CSS Files -->
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/mobile.css" />

        <!-- Linked Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <div class="form-group">
                <form action="" name="editor" method="post">
                    <label class="test-text">Kategori:</label><br />
                    <label class="test-text">Vanskelighetsgrad:</label><br />

                    <label class="test-text">Oppgave:</label><br />

                    <textarea class="form-control" name="code" rows="10"></textarea>
                    <input id="btn-login" type="submit" value="Kjør da"><br><br><br>
                </form>

                @using (Html.BeginForm("Avbryt", "Home", FormMethod.Get))
                {
                    <button id="btn-login" new { onclick="return confirm('Er du sikker på at du vil kaste inn håndklet? Du vil bli logget ut og tatt tilbake til innlogging.');" })>
                        Gi opp
                    </button>
                }





            </div>
        </div>
</body>