/**
 * Document info: OXX Test CSS File
 *     File name: mobile.css
 *        Author: Vladimir Maric
 *   
 *   Description: CSS stylesheet for mobile devices
 */

/* Screens upto 1199px width */
@media only screen and (max-width: 1199px) {

    /****************** TEST-INFO *****************/

    .testinfo-wrapper {
        padding: 50px 0;
    }

    .test-details-infobox {
        margin-bottom: 100px;
    }

    .test-details-content {
        margin-top: 0px;
    }

    /**************** END TEST-INFO ***************/

    /**************** ADMIN PORTAL ****************/

    .page-background-admin {
        height: calc(100% - 549.78px);
    }

    .admin-portal-content {
        padding: 50px 0;
    }

    /************** END ADMIN PORTAL **************/
    
}

/* Screens upto 991px width */
@media only screen and (max-width: 991px) {

    /****************** TEST-INFO *****************/

    .test-details-icon {
        width: 30%;
        height: auto;
    }

        .test-details-icon img {
            width: 130px;
            height: auto;
        }

    .test-details-content {
        width: 70%;
        margin-top: -7px;
    }

    /**************** END TEST-INFO ***************/

    /****************** TEST-VIEW *****************/

    #editor-html, #editor-css,
    #editor-js, #editor-html-iframe,
    #editor-ts-output, #editor-ts-error {
        float: none;
        width: 100%;
    }

    #editor-css {
        margin-top: 20px;
    }

    #htmlFrame {
        height: 300px;
    }

    /**************** END TEST-VIEW ***************/

    /**************** ADMIN PORTAL ****************/

    .page-background-admin {
        height: calc(100% - 575.78px);
    }

    /************** END ADMIN PORTAL **************/

}

/* Screens upto 767px width */
@media only screen and (max-width: 767px) {

    body {
        font-size: 16px;
    }

    .divider {
        margin: 1.2rem auto;
    }

    .section {
        padding-top: 150px;
        padding-bottom: 80px;
    }

    /* Headings and fonts */
    h1 {
        font-size: 32px;
        line-height: 46px;
    }

    h2 {
        font-size: 26px;
        line-height: 42px;
    }

    h3 {
        font-size: 22px;
        line-height: 36px;
    }

    h4 {
        font-size: 18px;
        line-height: 32px;
    }

    h5 {
        font-size: 16px;
        line-height: 28px;
    }

    h6 {
        font-size: 16px;
        line-height: 28px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    /* Buttons */
    .btn-success {
        font-size: 14px;
        font-weight: 600;
    }

        .btn-success:hover, .btn-success:active {
            background-color: #FDD20E !important;
            color: #2B2B2B !important;
        }

    /* Forms */
    .form-control {
        padding: 26px 12px 14px 12px;
        font-size: 14px;
    }

    .float-label {
        font-size: 14px;
    }

    input[type=password] {
        padding-right: 50px;
    }

    /* Password Toggle */
    .passwd-toggle {
        width: 40px;
        height: 40px;
        padding: 15px 0;
    }

    .fa-eye, .fa-eye-slash {
        font-size: 11px;
    }

    /******************* NAVBAR *******************/

    .navbar-brand img {
        width: 38px;
    }

    .navbar-nav li a {
        font-size: 16px;
    }

    /***************** END NAVBAR *****************/

    /******************* LOGIN ********************/

    .form-box-login {
        width: 320px;
        padding: 30px;
    }

        .form-box-login img {
            width: 72px;
            margin-bottom: 30px;
        }

    .btn-form-login {
        margin-top: 10px;
    }

    /***************** END LOGIN ******************/

    /************* USER REGISTRATION **************/

    .form-box-reg {
        width: 500px;
    }

    .btn-form-reg {
        width: 250px;
        margin-top: 20px;
    }

    .form-content-reg {
        padding: 12px 0;
    }

        .form-content-reg h5 {
            font-size: 18px;
        }

        .form-content-reg .form-group {
            width: 30.2%;
        }

    /*********** END USER REGISTRATION ************/

    /***************** TEST-INFO ******************/

    .section-testinfo {
        padding: 150px 0 65px;
    }

    .testinfo-wrapper {
        padding: 30px 0 40px;
    }

    .testinfo-btn-wrapper {
        margin-top: 55px;
    }

    .btn-testinfo {
        width: 180px;
        font-size: 16px;
    }

    #testinfo-test-details {
        padding: 30px 0;
    }

    .test-details-icon img {
        width: 100px;
        margin-top: 25px;
    }

    .test-details-content {
        margin-top: 0;
    }

    /*************** END TEST-INFO ****************/

    /***************** TEST-VIEW ******************/

    .section-testview {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .btn-testview {
        padding: 8px 16px;
        width: 100%;
    }

    /*************** END TEST-VIEW ****************/

    
    /****************** TEST-END ******************/
    
    .test-end-container {
        margin-top: -30px;
    }

        .test-end-container img {
            width: 150px;
        }

        .test-end-container h1 {
            margin-bottom: 20px;
        }

        .test-end-container p {
            font-size: 18px;
            line-height: 26px;
        }

    .btn-test-end {
        width: 200px;
        font-size: 16px;
    }

    /**************** END TEST-END ****************/

    /**************** ADMIN PORTAL ****************/

    .section-admin-portal {
        padding-top: 65px;
        padding-bottom: 25px;
    }

    .admin-portal-content {
        padding: 30px 0 40px;
    }

    .page-background-admin {
        height: calc(100% - 532.94px);
    }

    .split-screen img {
        width: 100px;
    }    

    /************** END ADMIN PORTAL **************/

    /******************* FOOTER *******************/

    .footer p {
        font-size: 13px;
    }

    /***************** END FOOTER *****************/

}

/* Screens upto 600px width */
@media only screen and (max-width: 600px) {
    
    body {
        font-size: 14px;
    }

    .underline {
        width: 70px;
        height: 2px;
    }

    /* Headings and fonts */
    .p-small {
        font-size: 13px;
        line-height: 18px;
    }

    /*  Forms */
    .form-error {
        font-size: 13px;
    }

    /******************* LOGIN ********************/

    .form-box-login {
        width: 290px;
        padding: 30px 20px;
    }

        .form-box-login img {
            width: 65px;
        }

    .btn-form-login {
        margin-top: 6px;
    }

    /***************** END LOGIN ******************/

    /************* USER REGISTRATION **************/

    .form-box-reg {
        width: 320px;
        padding: 40px 20px;
    }

        .form-box-reg .underline {
            margin-bottom: 40px;
        }

    .btn-form-reg {
        width: 160px;
    }

    .form-content-reg h5 {
        font-size: 16px;
    }

    .form-content-reg .form-group {
        width: 45%;
    }

    .form-reg-checkbox span {
        font-size: 14px;
    }

    .reg-link {
        margin-top: 28px;
    }

    /*********** END USER REGISTRATION ************/

    /***************** TEST-INFO ******************/

    .container-testinfo {
        padding: 0 15px;
        text-align: center;
    }

    .testinfo-wrapper {
        padding: 15px 0 30px;
    }

    .test-details-icon {
        width: 100%;
        text-align: center;
    }

        .test-details-icon img {
            width: 80px;
            margin-top: 5px;
        }

    #testinfo-icon-1,
    #testinfo-icon-2,
    #testinfo-icon-3 
    {
        text-align: center;
    }

    .test-details-content {
        width: 100%;
        margin-top: 25px;
    }

    /* Changing the order of divs */
    #testinfo-icon-1 {
        order: 1;
    }

    #test-details-1 {
        order: 2;
    }

    #testinfo-icon-2 {
        order: 3;
    }

    #test-details-2 {
        order: 4;
    }

    #testinfo-icon-3 {
        order: 5;
    }

    #test-details-3 {
        order: 6;
    }

    /**************** END TEST-INFO ***************/

    /****************** TEST-END ******************/

    .test-end-container {
        margin-top: -30px;
    }

        .test-end-container img {
            width: 124px;
        }

        .test-end-container h1 {
            margin-bottom: 20px;
            font-size: 28px;
            line-height: 36px;
        }

        .test-end-container p {
            font-size: 16px;
            line-height: 26px;
        }

    .btn-test-end {
        width: 180px;
        margin-top: 20px;
        font-size: 14px;
    }

    /**************** END TEST-END ****************/

    /**************** ADMIN PORTAL ****************/

    .admin-portal-content {
        text-align: center;
        padding: 15px 0 30px;
    }

    .page-background-admin {
        height: calc(100% - 506.94px);
    }

    .split-screen img {
        width: 80px;
    }

    .split-screen {
        display: block;
        width: 100%;
        padding: 20px 10px;
    }

    .page-background-admin:hover .split-screen {
        width: 100%;
    }

    .page-background-admin:hover .split-screen:hover {
        width: 100%;
    }

    /************** END ADMIN PORTAL **************/

    /******************* FOOTER *******************/

        .footer p {
            font-size: 12px;
        }

    /***************** END FOOTER *****************/

}

