/**
 * Document info: OXX Game CSS File
 *     File name: site.css
 *        Author: Vladimir Maric
 *   
 *   Description: General site CSS stylesheet
 */

body {
    background: #2B2B2B;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

.section {
    padding-top: 180px;
    padding-bottom: 80px;
}

.underline {
    background: #FDEA0E;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 80px;
    height: 3px;
    border: 0;
}

/* Headings and fonts */
h1, h2, h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 15px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

h6 {
    color: #FFF13E;
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.p-small {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

/* Buttons */
.btn, .btn:active, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-success {
    background-color: #FDEA0E;
    color: #2B2B2B;
    padding: 10px 16px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
}

    .btn-success:hover, .btn-success:active {
        background-color: #FDD20E !important;
        color: #2B2B2B !important;
    } 

/* Forms */
.form-group {
    position: relative;
    margin-bottom: 22px;
}

.form-control {
    color: #000000;
    padding: 26px 12px 18px 12px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0rgba(0, 0, 0, 0.1);
    outline: none;
}

    .form-control:focus {
        color: #000000;
        box-shadow: none;
    }

    /* Browser Input-Autofill Options */
    .form-control:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }

    @-webkit-keyframes autofill {
        to {
            color: #000;
            background: #FFFFFF;
        }
    } 

.float-label {
    float: left;
    position: absolute;
    top: 10px;
    left: 12px;
    color: #2B2B2B;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus ~ .float-label,
input:valid ~ .float-label {
    top: 2px;
    opacity: 0.85;
    font-size: 10px;
    font-weight: 600;
}

input[type=password] {
    padding-right: 50px;
}

.form-error {
    margin-top: 4px;
    color: #FDEA0E;
    font-size: 14px;
    text-align: left;
}

/* Password Toggle */
.passwd-toggle {
    float: right;
    position: relative;
    top: -44px;
    width: 44px;
    height: 44px;
    padding: 16px 0;
    border-left: 1px solid #707070;
    text-align: center;
    cursor: pointer;
}

.fa-eye, .fa-eye-slash {
    color: #2B2B2B;
    font-size: 12px;
}

/**********************************************/
/******************* LOGIN ********************/
/**********************************************/

.page-background {
    background:
        linear-gradient( /* Denne kan justeres senere */
            rgba(40, 40, 40, 0.1), 
            rgba(40, 40, 40, 0.5)
        ), url("../images/background_login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.login-box {
    background-color: rgba(16, 16, 16, .85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    margin: 0;
    padding: 40px 30px;
    border: 1px solid #323232;
    border-radius: 12px;
    text-align: center;
}

    .login-box img {
        width: 70px;
        height: auto;
        margin-bottom: 40px;
    }

/*** Login Form ***/

.login-links-content a {
    color: #FFFFFF;
}

#login-links-reg {
    margin-top: 4px;
}

#login-links-reg a {
    color: #FDEA0E;
}

.btn-form-login {
    width: 100%;
}

/*** End Login Form ***/

/**********************************************/
/***************** END LOGIN ******************/
/**********************************************/

/**********************************************/
/****************** NAVBAR ********************/
/**********************************************/

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 88px;
    z-index: 10000;
}

.navbar-scroll {
    background-color: #FDEA0E;
    height: 76px;
    padding: 0 16px;
    z-index: 10000;
    -moz-box-shadow: 0px 0px 5px 0px #000;
    -webkit-box-shadow: 0px 0px 5px 0px #000;
    box-shadow: 0px 0px 5px 0px #000;
}

/* Logo */
.navbar-brand {
    margin: 0;
    padding: 0;
}

    .navbar-brand img {
        width: 42px;
        height: auto;
    }

/* Navbar Menu */
.navbar-nav li a {
    color: #FFFFFF;
    font-weight: 400;
}

/**********************************************/
/**************** END NAVBAR ******************/
/**********************************************/

/**********************************************/
/************* USER REGISTRATION **************/
/**********************************************/

/* Registration Form */
#wrapper-form-reg {
    width: 70%;
    padding: 40px;
    margin: 0 auto;
}

.reg-form-content {
    margin-top: 30px;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
}

.btn-form-reg {
    width: 200px;
    margin-top: 30px;
}

/**********************************************/
/*********** END USER REGISTRATION ************/
/**********************************************/

/**********************************************/
/***************** TESTINFO ******************/
/**********************************************/



/**********************************************/
/*************** END TESTINFO ****************/
/**********************************************/

/**********************************************/
/****************** FOOTER ********************/
/**********************************************/

.footer {
    background-color: #000000;
    padding: 30px 0;
}

    .footer p {
        margin: 0;
        font-size: 12px;
        text-align: center;
    }

/**********************************************/
/**************** END FOOTER ******************/
/**********************************************/
