
@{
    ViewData["Title"] = "AdminPortal";
    Layout = null;
}

<h1>AdminPortal</h1>
@Html.ActionLink("Administrer brukere", "UserAdmin","Admin");
@Html.ActionLink("Administrer oppgaver", "TaskAdmin", "Admin");
